[submodule "code/Ventscape_noEnginge_openGL/Extern/glm"]
	path = code/Ventscape_noEnginge_openGL/Extern/glm
	url = https://github.com/g-truc/glm.git
	branch = 0.9.7
[submodule "code/Ventscape_noEnginge_openGL/Extern/glfw"]
	path = code/Ventscape_noEnginge_openGL/Extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "code/Ventscape_noEnginge_openGL/Extern/box2d"]
	path = code/Ventscape_noEnginge_openGL/Extern/box2d
	url = https://github.com/erincatto/box2d.git
